Django==4.0.4
django-widget-tweaks==1.4.12
django-pure-pagination==0.3.0
django-taggit==2.1.0
django-ckeditor==6.2.0
django-countries==7.2.1
Pillow==9.0.1
gunicorn==20.1.0
psycopg2-binary==2.8.6
python-decouple==3.6
