{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}

<!-- START SIGN-UP MODAL -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class="position-absolute end-0 top-0 p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="auth-content">
          <div class="w-100">
            <div class="text-center mb-4">
              <h5>Sign Up</h5>
              <p class="text-muted">Sign Up and get access to all the features of Hash Academy</p>
            </div>
            <form action="#" class="auth-form">
              <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Enter your username">
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
              </div>
              <div class="mb-4">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">I agree to the <a href="javascript:void(0)" class="text-primary form-text text-decoration-underline">Terms and conditions</a></label>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
              </div>
            </form>
            <div class="mt-3 text-center">
              <p class="mb-0">Already a member ? <a href="sign-in.html" class="form-text text-primary text-decoration-underline"> Sign-in </a></p>
            </div>
          </div>
        </div>
      </div>
      <!--end modal-body-->
    </div>
    <!--end modal-content-->
  </div>
  <!--end modal-dialog-->
</div>
<!-- END SIGN-UP MODAL -->

<div class="main-content">

  <div class="page-content">

    <!-- START HOME -->
    <section class="bg-home2" id="home">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="mb-4 pb-3 me-lg-5">
              <h6 class="sub-title">Welcome to Hash Academy</h6>
              <h1 class="display-5 fw-semibold mb-3">Find the Top Blockchain Engineers with <span class="text-primary fw-bold">Hash Academy</span></h1>
              <p class="lead text-muted mb-0">Hash Academy is an Africa-based Blockchain Talent Development and Outsourcing company. We provide organizations from all around the globe the skills and talents of the most competent and experienced
                Blockchain Engineers of the African continent.</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-5">
            <div class="mt-5 mt-md-0">
              <img src="{% static 'assets/images/process-02.png' %}" alt="" class="home-img" />
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!-- End Home -->

    <!-- START SHAPE -->
    <div class="position-relative">
      <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
          <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
            <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
          </g>
          <defs>
            <mask id="SvgjsMask1004">
              <rect width="1440" height="250" fill="#ffffff"></rect>
            </mask>
          </defs>
        </svg>
      </div>
    </div>
    <!-- END SHAPE -->

    <!-- START PROCESS -->
    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="section-title me-5">
              <h3 class="title">Our Vetting Process</h3>
              <p class="text-muted">All our engineers are fully vetted to ensure that they deliver the best value for money.</p>
              <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                  <div class="d-flex">
                    <div class="number flex-shrink-0">
                      1
                    </div>
                    <div class="flex-grow-1 text-start ms-3">
                      <h5 class="fs-18">Pass Cognitive aptitude test</h5>
                      <p class="text-muted mb-0">Candidates take a cognitive aptitude test to measure their ability solve problems, use new information and think critically.</p>
                    </div>
                  </div>
                </a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                  <div class="d-flex">
                    <div class="number flex-shrink-0">
                      2
                    </div>
                    <div class="flex-grow-1 text-start ms-3">
                      <h5 class="fs-18">Pass English proficiency test</h5>
                      <p class="text-muted mb-0">English being the most common language in the tech space, it's therefore crucial that candidates are efficiently able to communicate in the language.</p>
                    </div>
                  </div>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <div class=" d-flex">
                    <div class="number flex-shrink-0">
                      3
                    </div>
                    <div class="flex-grow-1 text-start ms-3">
                      <h5 class="fs-18">Prove practical blokchain skills</h5>
                      <p class="text-muted mb-0">Candidates then prove their real-life blockchain experience and knowlege through by solving a problem.</p>
                    </div>
                  </div>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <div class=" d-flex">
                    <div class="number flex-shrink-0">
                      4
                    </div>
                    <div class="flex-grow-1 text-start ms-3">
                      <h5 class="fs-18">Pass Job Interviews</h5>
                      <p class="text-muted mb-0">One or two job interviews are then organized with the hiring company to ensure company-employee fit.</p>
                    </div>
                  </div>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <div class=" d-flex">
                    <div class="number flex-shrink-0">
                      5
                    </div>
                    <div class="flex-grow-1 text-start ms-3">
                      <h5 class="fs-18">Accept Job Offer</h5>
                      <p class="text-muted mb-0">Successfull candidates are sent an offer letter and ready to start building.</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <img src="{% static 'assets/images/process-01.png' %}" alt="" class="img-fluid">
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <img src="{% static 'assets/images/process-02.png' %}" alt="" class="img-fluid">
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <img src="{% static 'assets/images/process-03.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!-- END PROCESS -->

    <!--START CTA-->
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="text-center">
              <h2 class="text-primary mb-4">Job Openings</h2>
              <p class="text-muted">Browse the latest Blockchain Job openings at Hash Academy.</p>
              <div class="mt-4 pt-2">
                <a href="{% url 'openings' %}" class="btn btn-primary btn-hover">Started Now <i class="uil uil-rocket align-middle ms-1"></i></a>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!--END CTA-->

    <!-- START APPLY MODAL -->
    <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-5">
            <div class="text-center mb-4">
              <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
            </div>
            <div class="position-absolute end-0 top-0 p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mb-3">
              <label for="nameControlInput" class="form-label">Name</label>
              <input type="text" class="form-control" id="nameControlInput" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="emailControlInput2" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="emailControlInput2" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="messageControlTextarea" class="form-label">Message</label>
              <textarea class="form-control" id="messageControlTextarea" rows="4" placeholder="Enter your message"></textarea>
            </div>
            <div class="mb-4">
              <label class="form-label" for="inputGroupFile01">Resume Upload</label>
              <input type="file" class="form-control" id="inputGroupFile01">
            </div>
            <button type="submit" class="btn btn-primary w-100">Send Application</button>
          </div>
        </div>
      </div>
    </div><!-- END APPLY MODAL -->

  </div>
  <!-- End Page-content -->

  {% endblock %}
