{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}{{page_title}}{% endblock %}
{% block content %}

<!-- START SIGN-UP MODAL -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class="position-absolute end-0 top-0 p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="auth-content">
          <div class="w-100">
            <div class="text-center mb-4">
              <h5>Sign Up</h5>
              <p class="text-muted">Sign Up and get access to all the features of Hash Academy</p>
            </div>
            <form action="#" class="auth-form">
              <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Enter your username">
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
              </div>
              <div class="mb-4">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">I agree to the <a href="javascript:void(0)" class="text-primary form-text text-decoration-underline">Terms and conditions</a></label>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
              </div>
            </form>
            <div class="mt-3 text-center">
              <p class="mb-0">Already a member ? <a href="sign-in.html" class="form-text text-primary text-decoration-underline"> Sign-in </a></p>
            </div>
          </div>
        </div>
      </div>
      <!--end modal-body-->
    </div>
    <!--end modal-content-->
  </div>
  <!--end modal-dialog-->
</div>
<!-- END SIGN-UP MODAL -->


<div class="main-content">

  <div class="page-content">

    {% include './partials/page_title.html' %}

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
      <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
          <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        </svg>
      </div>
    </div>
    <!-- END SHAPE -->


    <!-- START CONTACT-PAGE -->
    <section class="section">
      <div class="container">
        <div class="row align-items-center mt-5">
          <div class="col-lg-12">
            <div class="section-title mt-4 mt-lg-0">
              <h3 class="title">Post a job</h3>
              <form action="{% url 'share_opening' %}" method="post" enctype="multipart/form-data" class="contact-form mt-4" name="myForm" id="myForm">
                <span id="error-msg"></span>
                <div class="row">

                  {% csrf_token %}
                  {{ form.media }}

                  {% for field in form %}
                  <div class="col-lg-12">
                    <div class="mb-3">
                      {{ field.errors }}
                      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                      {% render_field field class="form-control" placeholder=field.label %}
                    </div>
                  </div>
                  <!--end col-->
                  {% endfor %}
                </div>
                <!--end row-->

                <button type="submit" value="Submit" id="submit" class="btn btn-primary mb-2">Submit</button>
                <a href="{% url 'home' %}" class="btn btn-primary mb-2">Cancel</a>
              </form>
              <!--end form-->
            </div>
          </div>
          <!--end col-->

        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!-- START CONTACT-PAGE -->

  </div>
  <!-- End Page-content -->

  {% endblock %}
